<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
</head>
<body>
	<form action="" method="POST">
		<center>
		{% csrf_token %}
		<h1>WhatsBusy</h1>
		<br>
		<h2>Registration </h2>
		<br>
		<div>
			{% for f in form %}
				<h3>{{f.label}}</h3>
				{{f}}
				<br>
				<h4>{{f.errors}}</h4>
			{% endfor %}
			<h4>Already a user? <a href="{% url 'login' %}">Login</a></h4>
			<br>
			<div><button type="submit">Register</button></div>
			<br>
			<br>
		</div>
	</center>
	</form>
</body>
</html>